body {
  font-family: 'Saira Condensed', sans-serif;
  text-align:center;
  background:url("https://cdnb.artstation.com/p/assets/images/images/006/272/147/large/jack-oldham-mountain-galaxy-background-1.jpg?1497300224") no-repeat fixed center;
}

img {
  border-radius:10px;
}
